* {
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  margin: 0;
  height: 100vh;
}

h1 {
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.info {
  background-color: transparent;
  border: 1px solid #9fa4a8;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}

.info.active {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 40px;
  right: 30px;
  height: 30px;
  width: 40px;
}

p.unactive {
  display: none;
}

