*{
  box-sizing: border-box;
}
body{
  background-color: #efedd6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* overflow: hidden; */
}
h1{
  margin: 10px;
}

.box{
  background-color: steelblue;
  color: #fff;
  justify-items: center;
  align-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  /* 设置垂直阴影、水平阴影和阴影像素 */
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even){
  /* 选择偶数 */
  transform: translateX(-400%);
  background-color: red;
}

/* 当show样式被添加时，元素复位 */
.box.show{
  transform: translateX(0);
}
.box h2{
  font-size: 45px;
}