/* 理解：通过js向dom元素添加css属性，点击开关添加或移出show-nav样式，当container类的元素添加该样式时，不仅改变了其本身的样式，还改变了圆的样式 */
/* 
点击按钮，两个元素的样式发生变化，
一个是container元素的样式，旋转20度
一个是circle的两个button按钮位置样式
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #222;
  /* 处理水平方向上的溢出问题 */
  overflow-x: hidden;
  margin: 0;
}

.container {
  background-color: #fafafa;
  /* 设置元素旋转的原点 */
  transform-origin: top left;
  /* 设置旋转动画  transform属性还没有设置 预计是通过js添加该属性 */
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

/* 文档内容和圆都旋转20度 */
.container.show-nav {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

/* 容器内的圆旋转70度，合计为90度 */
.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  /* absolute是相对于最近的祖先定位元素，因此圆旋转了90度，按钮也旋转了90度 */
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
}


.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

/* 由于整个圆要旋转90度，因此按钮也需要旋转90度 */
.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav+nav li {
  transform: translateX(0);
  transition-delay: 0.3s;

}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

/* 去除列表前面的黑色圆点 */
nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  /* 二维变换 */
  transform: translateX(-100%);
}

/* 实现li标签阶梯式排列 */
nav ul li+li {
  margin-left: 15px;
  /* background-color: red; */
  transform: translateX(-150%);
}

nav ul li+li+li {
  margin-left: 30px;
  /* background-color: red; */
  transform: translateX(-200%);
}

nav a {
  color: #fafafa;
  text-decoration: none;
  transition: all 0.5s;
}

nav a:hover {
  color: #ff7979;
  font-weight: bold;

}

.content img {
  max-width: 100%;
}

.content {
  max-width: 100%;
  margin: 50px auto;
}

.content h1 {
  margin: 0;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}